.request-container {
  position: relative;
  min-height: 100vh;
}
.tooltiptext {
    visibility: hidden;
    width: 180px;
    color: #1773B0;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    bottom: 50%;
    right: 100%;
    margin-bottom: -15px;
    opacity: 0;
    transition: opacity 0.3s;
  }
  
  .tooltiptext::after {
    content: '';
    position: absolute;
    top: 50%;
    right: 100%;
    margin-top: -5px;
  }
  
  .fixed:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
  }
  